<% include header %>
    <div id="site_content">
        <div id="content">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aut dicta accusantium reprehenderit provident praesentium, cupiditate, beatae, labore laudantium similique expedita dolorem? Velit perferendis, a atque similique odit aperiam ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque aut dicta accusantium reprehenderit provident praesentium, cupiditate, beatae, labore laudantium similique expedita dolorem? Velit perferendis, a atque similique odit aperiam ut.</p>
        </div>
    </div>
    <% include footer %>
