<% include header %>
    <div id="site_content">
        <div id="content">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fuga, iusto tempore? Suscipit vitae inventore, culpa alias natus omnis blanditiis nemo! Illo esse quidem ab alias quas, sint blanditiis aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, cumque. Similique maxime voluptates vel eius iusto magnam facere asperiores, earum sunt corrupti? Similique cupiditate, repudiandae sunt laborum. Autem ut, sunt!</p>
        </div>
    </div>
    <% include footer %>
