<!doctype html>
<html>

<head>
    <title>Mijn website - Nico Csanyi</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <h1><a>Mijn <span class="logo_colour">Website</span></a></h1>
                </div>
            </div>
            <div id="menubar">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/gebruiker/nico">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
