<% include header %>
    <div id="site_content">
        <div id="content">
            <h1>Mijn blog berichten</h1>
            <h2>
                <%- page.title %> :</h2>

            <section>
                <%- page.body %>
            </section>
        </div>
    </div>

    <% include footer %>
