body {
  width: 375px;
  height: 667px;
  background: #333333;
  font-family: 'bebas', sans-serif;
}

img {
  display: block;
  margin: 15px auto;
}

form {
  width: 300px;
  text-align: center;
  margin: 0 auto 0 auto;
}

.container {
  display: grid;
}

.back {
  font-size: 600;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 900;
  color: #575E61;
  margin-left: 20px;
}

.btn {
  color: #FFDF30;
  font-family: 'bebas', sans-serif;
  margin-bottom: 20px;
  margin-left: 23px;
  background-color: #333333;
  border: 0;
}

.disabled {
  background-color: #EFEFEE;
  opacity: 0.7;
}

h1 {
  color: #FFDF30;
  text-align: center;
  margin: 10px 0 20px 0;
}

h3 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 300;
  margin-left: 20px;
  width: 200px;
  float: left;
  padding-top: 8px;
}

h2 {
  color: #FFDF30;
  font-size: 1.6em;
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
}

.btn_haltes {
  position: relative;
  top: 100px;
  left: 50px;
}

.btn_kaart {
  position: relative;
  top: 300px;
  right: 40px;
}

.infodiv {
  margin-top: 210px;
  display: block;
  word-spacing: .6em;
}

.btn_vertrek {
  position: relative;
  top: 100px;
  left: 47px;
}

.btn_info {
  position: relative;
  top: 300px;
  right: 25px;
}

.logo {
  padding-top: 50px;
  width: 100px;
}

/****** FONT AWESOME ****/

.fa {
  color: #FFDF30;
  margin: 20px 0 0 0;
}

.topicon {
  text-align: center;
}

.returnarrow {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 20px;
  left: 20px;
}

.align a {
  display: block;
  width: 70%;
  margin: -90px auto 0 92px;
}

.inputhalte {
  width: 70%;
  height: 30px;
  border: 0px;
  color: white;
  border-bottom: 2px solid #FFDF30;
  margin: 160px auto 0 auto;
  padding: 2%;
  background-color: #333333;
}

.header-cont {
  width: 100%;
  position: fixed;
  top: 0px;
}

.inputhalte::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  content: "|";
}

.submit {
  border: none;
  width: 70%;
  height: 40px;
  background-color: #FFDD00;
  color: #575e61;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  font-weight: 400;
  text-align: center;
}

.location {
  border: none;
  width: 70%;
  height: 40px;
  color: #FFDD00;
  margin: 10px auto 0 auto;
  font-weight: 400;
  text-align: center;
}

.lijnItem {
  text-align: center;
  margin: 20px;
  border: 2px solid #FFDD00;
  color: #FFDD00;
  word-spacing: .6em;
  font-size: 0.8em;
}

.lijn {
  color: white;
  border-radius: 5px;
  padding: 1.2% 0 1.2% 0;
  text-align: center;
  height: 30px;
  display: inline-flex;
  color: #FFDD00;
  font-weight: 400;
  font-size: 0.8em;
}

.lijnnummer {
  padding-top: 5px;
  height: 15px;
  width: 25px;
}

.lijnomschrijving {
  width: 200px;
}

#map {
  margin: 90px auto;
  height: 325px;
  width: 325px;
}

.huidigedag {
  text-align: center;
  margin: 0 0 2% 0;
}

.huidigedag p {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 700;
  color: #FFDD00;
}

.vertrek {
  text-align: center;
  margin: 20px;
  border: 2px solid #FFDD00;
  color: #FFDD00;
  word-spacing: .6em;
  font-size: 0.8em;
}

.vertreknummer {
  width: 25px;
  height: 15px;
  margin: 5px 0 0 0;
  border-radius: 5px;
  padding: 1%;
}

.tijdtype {
  display: grid;
  grid-template-columns: 82% 18%;
  grid-column-gap: 10px;
}

.lijntype {
  width: 300px;
  height: 28px;
  border-radius: 5px;
  padding: 1%;
}

.vertrektijd {
  width: 40px;
  height: 15px;
  border-radius: 5px;
  padding: 2%;
  margin-left: 16.5%;
}

.pError {
  text-align: center;
  color: #575E61;
  font-size: 1.2em;
  font-weight: 700;
}

.topbar {
  position: fixed;
  top: 0px;
}

#copyright {
  position: absolute;
  top: 650px;
  left: 15px;
  color: darkgrey;
  font-size: .7em;
  font-weight: lighter;
}
