<% include header%>
<div class="returnarrow"><a href="/haltes"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a></div>
<div class="topicon"><i class="fa fa-map fa-3x" aria-hidden="true"></i></div>
<h1>Bus in<br>de buurt</h1>
</div>
<%- haltes %>
</div>
<% include footer%>
