<% include header%>
  <div class="topbar">
    <div class="returnarrow"><a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a></div>
  </div>
  <div class="topicon"><i class="fa fa-bus fa-3x" aria-hidden="true"></i></div>
  <h1>Bus in<br>de buurt</h1>
  <form method="get" action="/haltes">
    <input type="text" name="haltenaam" class="inputhalte" value="" placeholder="Locatie halte?" required>
    <input type="submit" value="Halte zoeken" class="submit">
  </form>
  <div><a href="/map"><div class="location">Waar ben ik?</div></a></div>
  <p id="copyright">© Jacksken Cap</p>
  <% include footer%>
