<% include header%>
  <a href="/"><img src="/img/De_Lijn.svg" alt="de lijn" class="logo"></a>
  <a href="/haltes">
    <button class="btn btn_haltes ">
        <i class="fa fa-bus fa-5x" aria-hidden="true"></i>
    </button>
</a>
  <a href="/map">
    <button class="btn btn_kaart">
        <i class="fa fa-map fa-5x" aria-hidden="true"></i>
    </button>
</a>
  <a href="/vertrekken">
    <button class="btn btn_vertrek">
        <i class="fa fa-flag fa-5x" aria-hidden="true"></i>
    </button>
</a>
  <a href="/info">
    <button class="btn btn_info">
        <i class="fa fa-info fa-5x i" aria-hidden="true"></i>
    </button>
</a>
<p id="copyright">© Jacksken Cap</p>
  <% include footer%>
