<% include header %>

<div class="achtergrondAfbeelding">
      <img src="img/delijn.png" alt="logodelijn">
     <h2 class="white h2welkomstscherm">Welkom op onze <br> Delijn app!</h2>

     <div class="knop1-3 knopGeelwelkomstscherm">
          <h3 class="knop1Geel"><a href="/home">Ga verder</a></h3>
     </div>

     <div class="knop2-1 knopWitwelkomstscherm">
          <h3 class="knop2Wit"><a href="/aanmelden"></a></h3>
     </div>
     <div class="jackskencap"><p>© Jacksken cap</p></div>
</div>



<% include footer %>
