<% include header%>
  <div class="returnarrow"><a href="/"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a></div>
  <div class="topicon"><i class="fa fa-info fa-3x" aria-hidden="true"></i></div>
  <h1>info</h1>
  <div class="infodiv">
    <h2>De lijn app</h2>
    <h2>ontwikkeld door</h2>
    <h2>Jacksken Cap</h2></div>
<p id="copyright">© Jacksken Cap</p>
  <% include footer%>
