<div id="menu">
		      <nav>
		          <ul class="nav">
					<li id="navimg" ><img src="img/delijn.png" alt="logo" width="100px;"></li>
				  <li id="icon5" <% if (page_name === 'home') { %>class="current" <% } %> ><a href="/home"><a class="btn-cta-freequote" href="#"><i class="fa fa-home fa-5x"></i></a></li>
				  <li id="icon1" <% if (page_name === 'halten') { %>class="current" <% } %> ><a href="/halten"><i class="fa fa-map fa-5x" aria-hidden="true"></i></a></li>
				  <li id="icon2" <% if (page_name === 'tickets') { %>class="current" <% } %> ><a href="/tickets"><i class="fa fa-ticket fa-5x" aria-hidden="true"></i></a></li>
				  <li id="icon3" <% if (page_name === 'haltes') { %>class="current" <% } %> ><a href="/haltes"><i class="fa fa-flag fa-5x" aria-hidden="true"></i></a></li>
					<li id="icon4" <% if (page_name === 'info') { %>class="current" <% } %> ><a href="/info"><i class="fa fa-info-circle fa-5x" aria-hidden="true"></i></a></li>
		          </ul>
		      </nav>
		</div>
