<% include header %>

<div class="topicon"><i class="fa fa-map fa-3x" aria-hidden="true"></i></div>
<h1>Route plannen</h1>
<div class="marge">
  <!--<p>Huidige locatie</p>
  <p>Bestemming</p>-->
  <div class="search-input">
    <label for="search-start"><p>van</p><span class="is-accessible-hidden">Dit is een veld met suggesties. Suggesties verschijnen wanneer je begint te typen. Selecteer een suggestie met behulp van je pijltjestoetsen.</span></label>
    <div class="clearableinputwrapper" style="position:relative;"><input id="search-finish" type="text" class="big input input-text route-search-auto-input clearableinput" placeholder="Adres, halte, station..." name="to" data-lastinput="" autocomplete="off" aria-autocomplete="list" aria-describedby="anysurfer-select-info-start"></div>
    <label for="search-finish"><p>naar</p><span class="is-accessible-hidden">Dit is een veld met suggesties. Suggesties verschijnen wanneer je begint te typen. Selecteer een suggestie met behulp van je pijltjestoetsen.</span></label>
    <div class="clearableinputwrapper" style="position:relative;"><input id="search-start" type="text" class="big input input-text route-search-auto-input clearableinput" placeholder="Adres, halte, station..." name="from" data-lastinput="" autocomplete="off" aria-autocomplete="list" aria-describedby="anysurfer-select-info-start"></div>
  </div>
  <div class="tijden">
    <label for="search-date"><p>Datum</p><span class="is-accessible-hidden">Dit is een veld met suggesties. Suggesties verschijnen wanneer je begint te typen. Selecteer een suggestie met behulp van je pijltjestoetsen.</span></label>
    <input type="date"></input>
    <!--<p>Tijdstip<span id="vertrek">vertrek</span><span id="aankomst">aankomst</span></p>-->
  </div>
  <div class="knop1-3 knopGeel">
       <h3 class="knop1Geel"><a href="/home">Plan route</a></h3>
  </div>
</div>
