<% include header %>

<div class="topicon"><i class="fa fa-ticket fa-3x" aria-hidden="true"></i></div>
<h1>Tickets</h1>
<div class="marge">
  <p>Ticket kopen</p>
  <p>Laatst gekochte tickets</p>
  <div class="knop1-3 knopGeel">
       <h3 class="knop1Geel"><a href="/home">Koop ticket</a></h3>
  </div>
</div>
