<% include header%>
  <div class="returnarrow"><a href="/vertrekken"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a></div>
  <div class="topicon"><i class="fa fa-flag fa-3x" aria-hidden="true"></i></div>
  <h1>Vertrekkend<br>op halte</h1>
  <%- vertrekInfo %>
    <% include footer%>
